<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="DDBB_HOTEL_Amaro"
			connectionString="Data Source=LAPTOP-5HVNM4QH;Initial Catalog=DDBB_HOTEL;Integrated Security=True"
			providerName="System.Data.SqlClient" />
    <add name="DDBB_HOTEL_Alejandro"
			connectionString="Data Source=DESKTOP-GU0AGC6\SQLEXPRESS;Initial Catalog=DDBB_HOTEL;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>